doctype html
html
  head(lang="th")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scal=1.0")
    title Numtrend
    link(rel="stylesheet" href="/stylesheets/easy-autocomplete.min.css")
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/dataTables.bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/jquery-1.12.1-ui.min.js")
    script(src="/javascripts/jquery.easy-autocomplete.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/jszip.min.js")
    script(src="/javascripts/jszip-utils.min.js")
    script(src="/javascripts/jquery.dataTables.min.js")
    script(src="/javascripts/dataTables.bootstrap.min.js")
    script(src="/javascripts/bootstrap-confirmation.min.js")
    script(src="/javascripts/style.js")
  body
    block content
